---
import FormContainer from "@components/FormComponents/FormContainer.astro";
import FormHeader from "@components/FormComponents/FormHeader.astro";
import Form from "./components/Form.tsx";
import ROUTES from "@/NavRoutes";
---

<FormContainer>
  <FormHeader
    title="Create account"
    description="Kickstart your effortless GitHub organization."
  />
  <Form client:visible />
  <p class="mt-4 text-sm text-slate-100">
    {"Already have an account?"}
    <a
      href={ROUTES.login.path}
      class="text-blue-600 hover:text-blue-800 hover:underline">Login here</a
    >
  </p>
</FormContainer>
