---
import Quote from "@assets/Icons/Quote.svg";

import type { Testimonial } from "./Testimonials.ts";

const { message, name } = Astro.props as Testimonial;
---

<div
  class="group relative w-48 space-y-4 rounded-2xl border border-blue-600 bg-gradient-to-br from-blue-800 to-blue-950 px-8 py-2 transition-[filter,scale] duration-300 ease-in-out hover:scale-x-110 hover:brightness-150 md:w-80 md:py-4"
>
  <Quote
    class="size-6 origin-top-left text-slate-200 transition-transform duration-300 ease-in-out group-hover:scale-110 md:size-8"
  />

  <p class="w-readable text-sm font-light text-slate-50 md:text-base">
    {message}
  </p>

  <div
    class="absolute right-4 -bottom-4 origin-bottom-right rounded-full border border-blue-600 bg-blue-800 px-4 py-2 text-xs tracking-wider text-slate-300 uppercase transition-transform duration-300 ease-in-out group-hover:scale-x-90 group-hover:scale-y-110 md:text-sm"
  >
    — {name}
  </div>
</div>
