---
import ROUTES from "@/NavRoutes";

const successUrl = ROUTES.welcome.path;
const { priceId } = Astro.props as { priceId: string };
---

<div
  class="cursor-pointer"
  onclick={`window.handlePricingCardClick('${priceId}')`}
>
  <slot />
</div>

<script is:inline define:vars={{ successUrl }} type="text/javascript">
  function handlePricingCardClick(priceId) {
    const params = new URLSearchParams(window.location.search);
    const userId = params.get("userId");
    // Open Paddle checkout for the selected subscription
    if (!userId || userId === "undefined") {
      alert("Unauthorized Action. No user record found");
    }
    if (typeof Paddle !== "undefined" && userId) {
      Paddle.Checkout.open({
        items: [
          {
            priceId: priceId,
            quantity: 1,
          },
        ],
        customData: {
          userId: "id_1234",
        },
        settings: {
          displayMode: "overlay",
          theme: "dark",
          successUrl: `${window.location.origin}${successUrl}`,
        },
      });
    }
  }

  // Expose the function to the global scope
  window.handlePricingCardClick = handlePricingCardClick;
</script>
