---
import Tutorial from "./Components/Tutorial.astro";
---

<section
  class="cursor-default bg-gradient-to-b from-slate-950 via-black to-slate-950 px-4 pt-6 pb-20 md:px-16 md:pt-20"
>
  <div class="mx-auto max-w-7xl space-y-10">
    <h2 class="text-center text-4xl font-bold text-slate-100">
      How GitFolders work?
    </h2>
    <Tutorial />
  </div>
</section>
