---
import { Users } from "@utils/Icons";
import UserCount from "./UserCount";
---

<div class="hidden items-center gap-x-2 md:flex">
  <Users className="h-5 w-5 text-slate-300/90" />
  <span class="text-slate-300">Join <UserCount client:load /> developers</span>
</div>
