---
import BenefitComparisonCard from "./Components/BenefitComparisonCard.astro";
import {
  WithoutUsCard,
  WithUsCard,
} from "./Components/BenefitComparisonCardData.ts";
---

<section
  id="benefits"
  class="space-y-16 bg-neutral-950 px-8 py-10 md:px-16 md:py-20"
>
  <div class="mx-auto max-w-7xl space-y-2 text-center">
    <h2
      data-aos="fade-up"
      class="text-center text-4xl font-bold tracking-wider text-balance text-slate-50 capitalize md:text-5xl"
    >
      Why Choose GitFolders?
    </h2>
    <p
      data-aos="fade-up"
      data-aos-delay="250"
      class="text-center text-lg text-pretty text-slate-300 italic md:text-xl"
    >
      Experience the difference between chaos and organization
    </p>
  </div>
  <div class="grid grid-cols-1 place-content-center gap-8 md:grid-cols-2">
    <BenefitComparisonCard {...WithoutUsCard} />
    <BenefitComparisonCard {...WithUsCard} animationDelay="250" />
  </div>
</section>
