---
import { Image } from "astro:assets";

import type { Feature } from "./FeatureCardData.ts";

const {
  title,
  description,
  image,
  icon: Icon,
  index,
} = Astro.props as Feature & { index: number };
---

<div
  data-aos="zoom-in-right"
  data-aos-delay=`${250*index}`
  class="group overflow-hidden rounded-2xl bg-neutral-900"
>
  <Image
    src={image}
    alt={title}
    class="aspect-square w-full object-cover sm:aspect-video md:aspect-auto md:h-1/2"
  />
  <div class="space-y-4 p-6">
    {Icon && <Icon class="size-8 text-blue-700 sm:size-10" />}
    <h3 class="text-lg font-semibold text-slate-50 sm:text-xl">
      {title}
    </h3>
    <p class="w-readable text-sm text-slate-300 sm:text-base">{description}</p>
  </div>
</div>

<style>
  @supports (selector(:has(h1))) {
    @media (min-width: 768px) {
      .group {
        transition:
          scale 0.3s ease-out,
          opacity 0.3s ease-in,
          filter 0.3s ease-out 0.2s;
      }
      .group:has(+ .group:hover),
      .group:hover + .group {
        scale: 0.95;
        opacity: 0.9;
        filter: blur(2px);
      }
      .group:has(+ .group + .group:hover),
      .group:hover + .group + .group {
        scale: 0.9;
        opacity: 0.85;
        filter: blur(4px);
      }
    }
  }
</style>
