---
import TestimonialCard from "./Components/TestimonialCard.astro";
import { Testimonials } from "./Components/Testimonials.ts";
---

<section
  id="testimonials"
  class="space-y-10 bg-neutral-950 px-8 py-10 md:px-16 md:py-20"
>
  <h2
    data-aos="slide-right"
    class="text-center text-4xl font-bold text-slate-50 md:text-5xl"
  >
    What Developers Are Saying
  </h2>

  <div
    data-aos="fade"
    data-aos-duration="2000"
    class="relative h-full overflow-x-hidden py-5"
  >
    <div
      class="animate-infinite-scroll flex min-w-max gap-(--gap) will-change-transform"
      style="--gap: calc(var(--spacing) * 8); "
    >
      {
        [...Testimonials, ...Testimonials].map((testimonial) => (
          <TestimonialCard {...testimonial} />
        ))
      }
    </div>
  </div>
</section>

<style>
  .animate-infinite-scroll {
    animation: infinite-scroll 15s linear infinite;
  }
  .animate-infinite-scroll:hover {
    animation-play-state: paused;
  }

  @keyframes infinite-scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(calc(-50% - var(--gap)));
    }
  }
</style>
