---
import PricingCard from "./Component/PricingCard.astro";
import { PricingOptions } from "./Component/PricingCardData.ts";

const Features: string[] = [
  "Organize Repositories into Custom Folders",
  "Sync Folders Across Devices",
  "Works with Private Repositories",
  "Quick Search for Instant Access",
  "Simple, Focused UI for Productivity",
  "Instant Access Inside GitHub",
];
---

<section
  id="pricing"
  class="relative space-y-10 bg-neutral-950 px-8 py-10 md:px-16 md:py-20"
>
  <!-- Heading Section -->
  <div data-aos="fade-up" class="space-y-2 text-center">
    <h2 class="text-4xl font-bold text-slate-50 md:text-5xl">
      Choose the best
    </h2>
    <h3 class="mx-auto max-w-2xl text-xl text-slate-300 italic">
      pricing plan
    </h3>
    <p class="text-xs text-blue-300 italic md:text-sm">
      No extra charges. No hidden fees.
      <span class="block text-xs opacity-60 md:text-sm"
        >Tax charged separately.</span
      >
    </p>
  </div>

  <!-- Pricing Cards -->
  <div
    data-aos="fade-up"
    class="flex flex-col items-center justify-center gap-8 md:flex-row"
  >
    {PricingOptions.map((pricingOption) => <PricingCard {...pricingOption} />)}
  </div>
  <!-- Feature List -->
  <ul
    data-aos="fade-up"
    class="mx-auto grid max-w-fit grid-cols-1 place-content-center gap-4 px-8 py-4 sm:grid-cols-2 md:auto-cols-max md:grid-flow-col md:grid-cols-3 md:grid-rows-2 md:gap-x-16"
  >
    {
      Features.map((feature) => (
        <li class="list-outside px-2 text-left text-base text-slate-50 marker:text-sm marker:text-blue-600 md:text-lg md:marker:text-base [&::marker]:content-['✓']">
          {feature}
        </li>
      ))
    }
  </ul>
</section>
