@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-inter: "Inter", sans-serif;
  --animate-infinite-scroll: infinite-scroll 30s linear infinite;
  @keyframes infinite-scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(calc(-50% - 24px));
    }
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @apply font-inter;
  }
  button {
    cursor: pointer;
  }
}

/* * {
  outline: red 1px solid;
} */
/* 
Backgrounds:
slate-950
black

text:
slate-50
slate-300
slate-500

accent:
blue-600
blue-800
*/
