@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-inter: "Inter", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply font-inter m-0 box-border overflow-x-hidden bg-black p-0;
  }

  button {
    @apply cursor-pointer;
  }

  body > header,
  body > main > section,
  body > footer {
    @apply mx-auto max-w-[100rem] cursor-default 2xl:border-x 2xl:border-slate-950;
  }
}

@layer utilities {
  .w-readable {
    max-width: 65ch;
  }

  /* svg[class*="leader-line"] {
    opacity: 0;
  } */
}
