---
import { type ImageMetadata } from "astro";

import Image1 from "@assets/HowItWorks/1.webp";
import Image2 from "@assets/HowItWorks/2.webp";
import Image3 from "@assets/HowItWorks/3.webp";
import Image4 from "@assets/HowItWorks/4.webp";
import Image5 from "@assets/HowItWorks/5.webp";
import Image6 from "@assets/HowItWorks/6.webp";
import Image7 from "@assets/HowItWorks/7.webp";

import HowToImage from "./HowToImage.astro";

type THowToImage = {
  image: ImageMetadata;
  title: string;
};

const howToImages: THowToImage[] = [
  { image: Image1, title: "Add Folder" },
  { image: Image2, title: "Enter Folder Name" },
  { image: Image3, title: "Create Folder" },
  { image: Image4, title: "Add Repo to Folder" },
  { image: Image5, title: "Select Folder" },
  { image: Image6, title: "Add Repo" },
  { image: Image7, title: "Open Repo" },
];
---

<div id="tutorial">
  <div
    class="grid place-content-center place-items-stretch gap-8 overflow-x-hidden p-4"
  >
    <HowToImage
      id="howToImage-1"
      {...howToImages[0]}
      position={"col-start-1 portrait:sm:col-start-1 portrait:sm:row-start-1 md:row-start-1 md:col-start-1"}
    />
    <HowToImage
      id="howToImage-2"
      {...howToImages[1]}
      position={"col-start-1 portrait:sm:col-start-2 portrait:sm:row-start-2 md:row-start-2 md:col-start-2"}
    />
    <HowToImage
      id="howToImage-3"
      {...howToImages[2]}
      position={"col-start-1 portrait:sm:col-start-1 portrait:sm:row-start-3 md:row-start-1 md:col-start-3"}
    />
    <HowToImage
      id="howToImage-4"
      {...howToImages[3]}
      position={"col-start-1 portrait:sm:col-start-2 portrait:sm:row-start-4 md:row-start-2 md:col-start-4"}
    />
    <HowToImage
      id="howToImage-5"
      {...howToImages[4]}
      position={"col-start-1 portrait:sm:col-start-1 portrait:sm:row-start-5 md:row-start-1 md:col-start-5"}
    />
    <HowToImage
      id="howToImage-6"
      {...howToImages[5]}
      position={"col-start-1 portrait:sm:col-start-2 portrait:sm:row-start-6 md:row-start-2 md:col-start-6"}
    />
    <HowToImage
      id="howToImage-7"
      {...howToImages[6]}
      position={"col-start-1 portrait:sm:col-start-1 portrait:sm:row-start-7 md:row-start-1 md:col-start-7"}
    />

    <script>
      import "./leaderlines.js";
    </script>
  </div>
</div>
