---
import ContactForm from "./Components/ContactForm.astro";
---

<section id="contact" class="space-y-8 bg-black px-8 py-10 md:px-16 md:py-20">
  <div data-aos="slide-right" class="space-y-2">
    <h2
      class="text-center text-4xl font-bold text-balance text-slate-50 md:text-5xl"
    >
      Have questions?
    </h2>
    <p class="text-center text-lg text-pretty text-slate-300 md:text-xl">
      We're here to help — drop us a message.
    </p>
  </div>
  <ContactForm />
</section>
