---
import { Image } from "astro:assets";

import DashboardPreview from "@assets/Hero/DashboardPreview.png";
import ArrowRight from "@assets/Icons/ArrowRight.svg";
import Folder from "@assets/Icons/Folder.svg";
import { CHROME_STORE_URL } from "@Constants";

import StatBox, { type Stat } from "./Components/StatBox.astro";

const stats: Stat[] = [
  { value: "3x", label: "Fewer Clicks" },
  { value: "50%", label: "Increased Productivity" },
  { value: "2x", label: "Less Search Time" },
  // { value: "75%", label: "Time Saved" },
  // { value: "90%", label: "Faster Navigation" },
  // { value: "1-Click", label: "Smart Folder Creation" },
];
---

<section
  id="home"
  class="relative grid grid-cols-1 place-content-center place-items-stretch gap-x-8 gap-y-10 bg-neutral-950 px-4 pt-20 pb-20 md:px-16 md:pt-8 portrait:sm:px-16 portrait:sm:pt-20 landscape:grid-cols-2"
>
  <!-- Column 1 -->
  <div class="space-y-6">
    <h1
      class="text-left text-5xl leading-tight font-bold tracking-wide text-balance text-slate-50 md:text-6xl"
    >
      Organize GitHub <span class="text-blue-500">Repositories</span> Like Never
      Before
    </h1>
    <h2 class="max-w-[65ch] text-xl text-pretty text-slate-300 italic">
      Transform cluttered repositories into a streamlined, organized workspace.
      The missing folder structure for your GitHub repositories.
    </h2>
    <a
      href={CHROME_STORE_URL}
      class="group flex w-fit items-center justify-center gap-2 rounded-2xl bg-gradient-to-br from-blue-500 to-blue-600 px-6 py-4 text-lg font-semibold text-slate-50 transition ease-linear hover:brightness-90"
    >
      {"Start Today"}
      <ArrowRight
        class="size-6 transition-transform ease-linear group-hover:translate-x-2"
      />
    </a>
    <div class="flex items-center justify-start gap-8">
      {stats.map((stat) => <StatBox {...stat} />)}
    </div>
  </div>

  <!-- Column 2 -->
  <div class="relative">
    <Image
      src={DashboardPreview}
      alt="GitFolders Dashboard preview"
      class="aspect-square w-full object-contain md:aspect-[6/5]"
      loading="eager"
    />
    <div
      class="absolute -bottom-6 -left-2 flex items-center justify-center gap-2 rounded-2xl border-1 border-black bg-slate-950 p-3 md:-left-6 md:p-4"
    >
      <Folder class="size-12 text-blue-600" />
      <h3 class="font-semibold text-slate-50">
        Smart Organization
        <br />
        <span class="text-sm text-slate-400 italic">Like Never Before</span>
      </h3>
    </div>
  </div>
</section>
