---
import { twMerge } from "tailwind-merge";

export type CardData = {
  type: "positive" | "negative";
  title: string;
  features: string[];
};

const { type, title, features } = Astro.props as CardData;

const isPositive = type === "positive";
---

<div
  class={twMerge(
    "space-y-4 rounded-2xl  grow  shrink border p-4 md:p-8",
    isPositive
      ? "border-green-600 bg-gradient-to-tl from-green-700 to-green-800"
      : "border-red-600 bg-gradient-to-tl from-red-700 to-red-800",
  )}
>
  <h3
    class={twMerge(
      "text-slate-50 w-fit rounded-2xl px-4 shadow py-2 text-2xl font-bold",
      isPositive ? "bg-green-700" : "bg-red-700",
    )}
  >
    {title}
  </h3>
  <ul class="ml-4 space-y-4">
    {
      features.map((feature: string) => (
        <li
          class={twMerge(
            "list-outside pl-2 text-slate-50 marker:text-sm",
            isPositive
              ? "marker:text-green-300 [&::marker]:content-['✓']"
              : "marker:text-red-300 [&::marker]:content-['✕']",
          )}
        >
          {feature}
        </li>
      ))
    }
  </ul>
</div>
