---
import ErrorPageLayout from "@layouts/ErrorPageLayout.astro";
---

<ErrorPageLayout title="404 - Page Not Found">
  <h1 class="text-text-primary mb-4 text-8xl font-bold">404</h1>
  <h2 class="text-text-primary mb-2 text-4xl font-semibold">Page Not Found</h2>
  <p class="text-text-secondary mb-6 text-2xl">
    Whoops! That page doesnt exist
  </p>
</ErrorPageLayout>
