---
import ErrorPageLayout from "@layouts/ErrorPageLayout.astro";
---

<ErrorPageLayout title="500 - An Error Occurred">
  <h1 class="text-text-primary mb-4 text-8xl font-bold">500</h1>
  <h2 class="text-text-primary mb-2 text-4xl font-semibold">
    Oops, Something Went Wrong
  </h2>
  <p class="text-text-secondary mb-6 text-2xl">
    Please try refreshing the page or return to homepage.
  </p>
</ErrorPageLayout>
