---
import Footer from "@/components/Footer.astro";
import ROUTES from "@/NavRoutes";
---

<html lang="en">
  <head>
    <script>
      import { supabase } from "@lib/supabase";
      import ROUTES from "@/NavRoutes";

      const delay = 300; // in milliseconds
      setTimeout(async () => {
        const {
          data: { session },
        } = await supabase.auth.getSession();

        if (session) {
          window.location.href = ROUTES.welcome.path;
        } else {
          window.location.href = ROUTES.login.path;
        }
      }, delay);
    </script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Redirecting..." />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>Redirecting...</title>
  </head>
  <body>
    <p>You are being redirected...</p>
  </body>
  <Footer />
</html>
