---
import DashboardLayout from "@layouts/DashboardLayout.astro";
import AccountSettings from "@components/Settings/AccountSettings";
import SubscriptionSettings from "@components/Settings/SubscriptionSettings";
---

<DashboardLayout title="Welcome" description="Git Folders Welcome Page">
  <div
    class="flex min-h-screen cursor-default flex-col items-center justify-center gap-4 bg-gradient-to-t from-slate-950 to-black px-4 py-6 md:px-16 md:py-20"
  >
    <div
      class="container mx-auto w-full max-w-3xl rounded-xl border border-slate-700 bg-gradient-to-b from-gray-950 to-zinc-950 px-6 py-6 shadow-lg shadow-slate-950"
    >
      <h1 class="text-4xl font-bold text-slate-50 md:text-6xl">Settings</h1>
    </div>
    <div
      class="container mx-auto w-full max-w-3xl rounded-xl border border-slate-700 bg-gradient-to-b from-gray-950 to-zinc-950 px-6 py-6 shadow-lg shadow-slate-950"
    >
      <AccountSettings client:visible />
    </div>
    <!-- TODO: Un comment post beta -->
    <!-- <div
      class="container mx-auto w-full max-w-3xl rounded-xl border border-slate-700 bg-gradient-to-b from-gray-950 to-zinc-950 px-6 py-6 shadow-lg shadow-slate-950"
    >
      <SubscriptionSettings client:visible />
    </div> -->
  </div>
</DashboardLayout>
