---
export type FormHeaderProps = {
  title: string;
  description: string;
};
const { title, description } = Astro.props as FormHeaderProps;
---

<div class="space-y-4 text-center">
  <h1 class="text-4xl font-bold text-slate-100">{title}</h1>
  <p class="text-lg text-pretty text-slate-300">
    {description}
  </p>
</div>
