<div
  class="from-primary to-secondary flex min-h-screen items-center justify-center bg-gradient-to-b px-4 py-6 md:px-16 md:py-20"
>
  <div
    class="border-form-border from-form-primary to-form-secondary shadow-form-shadow container mx-auto w-full max-w-sm space-y-6 rounded-xl border bg-gradient-to-b p-6 shadow-lg"
  >
    <slot />
  </div>
</div>
