---
type FooterLink = { href: string; label: string };
const footerLinks: FooterLink[] = [
  { href: "/privacy-policy", label: "Privacy Policy" },
  { href: "/terms-of-service", label: "Terms of Service" },
  { href: "/refund-policy", label: "Refund Policy" },
];
---

<footer
  class="flex w-full flex-col-reverse items-center gap-8 border-t border-blue-600 bg-neutral-950 px-4 py-8 text-slate-50 md:flex-row md:justify-between md:px-8 md:py-10"
>
  <span class="text-[10px] select-none md:text-xs">
    Copyright © 2025 Git Folders - All Rights Reserved.
  </span>
  <div class="flex w-full items-center justify-between gap-4 px-2 md:w-auto">
    {
      footerLinks.map((link) => (
        <a
          href={link.href}
          class="text-center text-xs hover:underline md:text-sm"
        >
          {link.label}
        </a>
      ))
    }
  </div>
</footer>
