<footer
  class="flex w-full items-center justify-between border-t border-blue-600 bg-slate-950 p-2 text-slate-100"
>
  <span class="text-sm select-none">
    Copyright © 2025 Git Folders - All Rights Reserved.
  </span>
  <div class="mr-2 flex items-center gap-x-4">
    <a href="/privacy-policy" class="text-sm hover:underline">Privacy Policy</a>
    <a href="/terms-of-service" class="text-sm hover:underline"
      >Terms of Service</a
    >
    <a href="/refund-policy" class="text-sm hover:underline">Refund Policy</a>
  </div>
</footer>
