---
import FormContainer from "@components/FormComponents/FormContainer.astro";
import FormHeader from "@components/FormComponents/FormHeader.astro";
import Form from "./components/Form.tsx";
import ROUTES from "@/NavRoutes";
---

<FormContainer>
  <FormHeader
    title="Login to GitFolders"
    description="Access your repositories with ease."
  />
  <Form client:visible />
  <p class="mt-4 text-xs text-slate-100 md:text-sm">
    {"Don't have an account?"}
    <a
      href={ROUTES.signup.path}
      class="text-blue-600 hover:text-blue-800 hover:underline">Register here</a
    >
  </p>
</FormContainer>
