@import "tailwindcss";

@theme inline {
  --color-primary: #f0f6fc;
  --color-accent: #0366d6;
  --color-accent-hover: #024e9d;
  --color-text-primary: #24292e;
  --color-text-secondary: var(--color-gray-600);
  --color-text-placeholder: var(--color-gray-400);
}

/* Custom theme for Tippy tooltips */
.tippy-box[data-theme~="custom"] {
  @apply text-accent rounded-lg border border-blue-300 bg-blue-50 p-3 text-sm shadow-xl;
}

.tippy-box[data-theme~="custom"] .tippy-arrow {
  @apply text-blue-50;
}
