---
import "@styles/global.css";

import Footer from "@components/Footer/Footer.astro";

import SharedHead from "./SharedHead.astro";

type Props = {
  title?: string;
  description?: string;
};
const {
  title = "GitFolders",
  description = "GitFolders helps you organize GitHub repositories into custom folders, making it easier to manage your projects. GitFolders also supports cloud syncing.",
} = Astro.props;
---

<html lang="en">
  <head>
    <SharedHead
      title={title}
      description={description}
      url={Astro.url.origin}
    />
  </head>
  <body class="flex min-h-screen flex-col">
    <main class="flex flex-1">
      <section class="flex-1 [&>*]:size-full">
        <slot />
      </section>
    </main>
    <Footer />
  </body>
</html>
