---
import "@styles/global.css";
import Footer from "@components/Footer/Footer.astro";

import ROUTES from "../NavRoutes.ts";

import SharedHead from "./SharedHead.astro";

type Props = {
  title?: string;
  description?: string;
};
const {
  title = "GitFolders",
  description = "GitFolders helps you organize GitHub repositories into custom folders, making it easier to manage your projects. GitFolders also supports cloud syncing.",
} = Astro.props;
---

<html lang="en">
  <head>
    <SharedHead
      title={title}
      description={description}
      url={Astro.url.origin}
    />
  </head>
  <body>
    <div
      class="flex h-screen items-center justify-center bg-gradient-to-t from-slate-950 to-black"
    >
      <div
        class="container mx-auto flex max-w-2xl flex-col items-center justify-center text-center"
      >
        <slot />
        <a
          href={ROUTES.home.path}
          class="inline-block rounded-lg bg-blue-600 p-3 text-xl text-slate-50 transition-colors hover:bg-blue-800"
        >
          Go to Home
        </a>
      </div>
    </div>
    <Footer />
  </body>
</html>
