---
import "@styles/global.css";
import "@styles/aos.css";

import CustomCursor from "@components/CustomCursor/CustomCursor.astro";
import Footer from "@components/Footer/Footer.astro";
import Menu from "@components/Navbar/Menu.astro";
import Navbar from "@components/Navbar/Navbar.astro";

import SharedHead from "./SharedHead.astro";

type Props = {
  title?: string;
  description?: string;
  showMenu?: boolean;
};
const {
  title = "GitFolders",
  description = "GitFolders is a Chrome extension that helps you organize GitHub repositories into custom folders, making it easier to manage your projects. GitFolders also supports cloud syncing.",
} = Astro.props as Props;

const url = Astro.url.origin;
---

<html lang="en">
  <head>
    <SharedHead title={title} description={description} url={url} />
  </head>
  <body>
    <CustomCursor />
    <Navbar />
    <aside
      class="pointer-events-none fixed inset-0 isolate z-999 mx-auto hidden max-w-[100rem] md:block"
    >
      <Menu />
    </aside>
    <main>
      <slot />
    </main>
    <Footer />
    <script>
      import AOS from "aos";
      if (!window.matchMedia("(prefers-reduced-motion: reduce)").matches) {
        AOS.init({
          disable: "mobile",
          duration: 500,
          easing: "ease",
          once: true,
        });
      }
    </script>
  </body>
</html>
