---
import "@styles/global.css";

import Navbar from "@components/Navbar.astro";
import Footer from "@/components/Footer.astro";

type Props = {
  title?: string;
  description?: string;
};
const { title = "GitFolders", description = "GitFolders" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
