---
import "@styles/global.css";
import SharedHead from "./SharedHead.astro";

const title = "GitFolders";
const description =
  "GitFolders is a Chrome extension that helps you organize GitHub repositories into custom folders, making it easier to manage your projects. GitFolders also supports cloud syncing.";

const url = Astro.url.origin;
---

<html lang="en">
  <head>
    <SharedHead title={title} description={description} url={url} />
  </head>
  <body class="prose mx-auto box-border bg-neutral-100 p-6 text-base">
    <slot />
  </body>
</html>
