---
import FeatureCard from "./Components/FeatureCard.astro";
import {
  Features as featuresList,
  type Feature,
} from "./Components/Features.tsx";
---

<section
  id="features"
  class="space-y-10 bg-neutral-950 px-8 py-10 md:px-16 md:py-20"
>
  <div class="space-y-4">
    <h2
      class="text-center text-5xl font-bold tracking-wider text-balance text-slate-50 capitalize"
    >
      Powerful features designed for developers
    </h2>
    <p
      class="w-readable mx-auto text-center text-xl text-pretty text-slate-300"
    >
      Everything you need to organize your GitHub workflow
    </p>
  </div>
  <div class="flex flex-row gap-6">
    {featuresList.map((feature: Feature) => <FeatureCard feature={feature} />)}
  </div>
</section>
